<%= render partial: 'shared/menu' %>

<h1>The Logz Dashboard</h1>

<h2>Population Queries</h2>

<%= render partial: 'menu' %>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Answer</th>
      <th>Exact/Calculated</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
    <tr>
      <td><%= log.query %></td>
      <td><%= log.answer %></td>
      <td><%= exact_or_calculated(@years, log.query) %></td>
      <td><%= log.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
